.gameWrapper {
    padding: 40px;
    font-family: inherit;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 20px;
    margin: 0 0 20px 0;
    padding: 0;
}

.gameContainer {

}

.errorsContainer {
    display: flex;
    flex-direction: row;
}

.errorsText {
    &:not(:first-child) {
        padding-left: 15px;
    }
}

.modalHeading {
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
}

.desc {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}

.btnsContainer {
    display: flex;
    flex-direction: row;
    font-size: 16px;

    button {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}