@import './variables.scss';
@import './media.scss';

@mixin gridCellSize() {
    height: $xxs-grid-cell-size;
    width: $xxs-grid-cell-size;
    font-size: $xxs-font-size;

    @include xs {
        height: $xs-grid-cell-size;
        width: $xs-grid-cell-size;
        font-size: $xs-font-size;
    }

    @include s {
        height: $s-grid-cell-size;
        width: $s-grid-cell-size;
        font-size: $s-font-size;
    }

    @include m {
        height: $m-grid-cell-size;
        width: $m-grid-cell-size;
        font-size: $m-font-size;
    }

    @include l {
        height: $l-grid-cell-size;
        width: $l-grid-cell-size;
        font-size: $l-font-size;
    }

    @include xl {
        height: $xl-grid-cell-size;
        width: $xl-grid-cell-size;
        font-size: $xl-font-size;
    }
}