@mixin xs() {
    @media (min-width: 380px) {
        @content;
    }
}

@mixin s() {
    @media (max-width: 639px) {
        @content;
    }
}

@mixin m() {
    @media (min-width: 640px) {
        @content;
    }
}

@mixin l() {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin xl() {
    @media (min-width: 1295px) {
        @content;
    }
}