$white: #fff;
$black: #000;
$red: #900C3F;
$grey-1: #e0e1dd;
$grey-2: #272829;
$blue-1: #778da9;
$blue-2: #415a77;
$dark-1: #1b263b;
$dark-2: #0d1b2a;

$spinner-z-index: 20;

$xxs-grid-cell-size: 22px;
$xs-grid-cell-size: 28px;
$s-grid-cell-size: 42px;
$m-grid-cell-size: 51px;
$l-grid-cell-size: 70px;
$xl-grid-cell-size: 85px;

$xxs-font-size: 18px;
$xs-font-size: 22px;
$s-font-size: 27px;
$m-font-size: 30px;
$l-font-size: 35px;
$xl-font-size: 26px;

$modal-screen-hidden-z-index: -1;
$modal-screen-open-z-index: 1;