@import '../../styles/variables.scss';

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 20;
    stroke-dashoffset: -33;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

.spinnerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $spinner-z-index;
}

.svgImage {
  position: relative;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);

  .svgImageCircle {
    animation: rotate 2s linear infinite;
  }

  .svgImageCirclePath {
    stroke-dasharray: 150, 200;
    stroke-dashoffset: -10;
    animation: dash 1.2s ease-in-out infinite;
  }
}
