@import '../../../styles/variables.scss';
@import '../../../styles/gridMixins.scss';

.cell {
    padding: 0;
    border: solid thin $grey-2;

    @include gridCellSize();
}

.input {
    text-align: center;
    border: none;
    color: $dark-2;
    font-size: 16px;
    font-weight: 500;

    @include gridCellSize(); 
}

.fixedInput {
    color: $dark-1;
}

.incorrectValue {
    color: $red;
    outline: 2px solid $red;
}