@import '../../styles/variables.scss';
@import '../../styles/media.scss';

.modalContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    opacity: 0;
    background: rgba($black, 0.35);
    transition: opacity 0.5s ease-in-out;
    z-index: $modal-screen-hidden-z-index;
}

.modalContainerOpen {
    opacity: 1;
    z-index: $modal-screen-open-z-index;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.modalBody {
    background: $white;
    display: flex;
    max-width: 318px;
    max-height: calc(100vh - 40px);
    border-radius: 12px;
    box-shadow: 3px 3px 7px 0 rgba($black, 0.5);
    z-index: $modal-screen-open-z-index;
    position: relative;
    left: 110%;
    padding: 0 16px;
    flex-direction: column;
    transition: left 0.8s ease-in-out;

    @include s {
        max-width: 358px;
    }
}

.modalBodyOpen {
    left: 0;
}

.closeBtn {

}