@import '../../styles/variables.scss';

.contactSection {
    background-color: $grey-1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contactTitle {
    margin-bottom: 25px;
    
    & h3 {
        margin: 0;
        padding: 0;
    }
    
}