@import '../../styles/variables.scss';

.wrapper {
    padding: 0 40px;
    background-color: $dark-2;
    color: $white;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logoSide {

}

.logo {
    width: 50px;
    height: 50px;
}

.navigation {

}

.userSide {

}

.profile {

}