@import '../../styles/variables.scss';

.instructionSection {
    background-color: $blue-2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    color: $grey-1;
}

.rulesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

