@font-face {
  font-weight: 100; 
  font-family: LexendDeca;
  src: url("./fonts/LexendDeca-Thin.ttf");
}

@font-face {
  font-weight: 300; 
  font-family: LexendDeca;
  src: url("./fonts/LexendDeca-Light.ttf");
}

@font-face {
  font-weight: 400; 
  font-family: LexendDeca;
  src: url("./fonts/LexendDeca-Regular.ttf");
}

@font-face {
  font-weight: 500; 
  font-family: LexendDeca;
  src: url("./fonts/LexendDeca-Medium.ttf");
}

@font-face {
  font-weight: 600;
  font-family: LexendDeca;
  src: url("./fonts/LexendDeca-SemiBold.ttf");
}

@font-face {
  font-weight: 700;
  font-family: LexendDeca;
  src: url("./fonts/LexendDeca-Bold.ttf");
}

body {
  margin: 0;
  font-family:  "LexendDeca", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
}