@import '../../styles/variables.scss';

.wrapper {
  padding: 60px 40px;
  background-color: $grey-1;
}

.welcomeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 15px;
  width: 40%;
}

.title {
  margin-bottom: 40px;

  h1 {
    margin: 0;
    font-size: 34px;
    line-height: 46px;
    font-weight: 700;
  }
}

.description {
  margin-bottom: 40px;

  p {
    margin: 0 0 10px 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }
}

.image {
  width: 60%;

  img {
    width: 100%;
    border-radius: 56% 48% 53% 56% / 70% 50% 58% 41%;
  }
}

.buttons {
  width: 100%;
}
