@import '../../styles/variables.scss';

.container {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  background-color: $dark-2;
  color: $grey-1;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: inherit;
  margin-bottom: 15px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.secondary {
  background-color: $blue-1;
  color: $black;
}